.full-body {
  width: 100vw;
  height: calc(100vh - 116px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 503px;
  height: 279px;
  border-radius: 44px;
  background-color: var(--apple-green);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;

  @media screen and (max-width: 600px) {
    width: calc(100% - 50pt);
    height: 330pt;
    border-radius: 29pt;
  }
}

.cancel-button {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 24px;
  right: 27px;
  background: url("./img/cancel.svg") no-repeat;
  background-size: 100%;

  @media screen and (max-width: 600px) {
    width: 18pt;
    height: 18pt;
    top: 19pt;
    right: 21pt;
  }
}

.button-link {
  width: 100%;
}

.button {
  background: transparent;
  width: 100%;
  height: 42px;
  margin-top: 46px;
  border-radius: 36px;
  border: solid 3px var(--white-two);
  color: var(--white-two);
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: var(--white-two);
    color: var(--apple-green);
  }

  @media screen and (max-width: 600px) {
    border-radius: 36pt;
    height: 42pt;
    font-size: 12.6pt;
    margin-top: 41pt;
  }
}

.field {
  width: 326px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  &:nth-last-child(2) {
    margin-bottom: 0;
  }

  P {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .data-picker {
    width: fit-content;
  }

  input {
    width: 236px;
    height: 31px;
    border-radius: 7px;
    border: solid 1px #979797;
    background-color: var(--white-two);
  }

  @media screen and (max-width: 600px) {
    flex-flow: column;
    align-items: flex-start;
    width: calc(100% - 70pt);
    margin-bottom: 30pt;

    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    .data-picker {
      width: 100%;
    }

    p {
      font-size: 13pt;
      margin-bottom: 6pt;
    }

    input {
      width: calc(100% - 6px);
    }
  }
}
