.full-body {
  width: 100vw;
  height: calc(100vh - 116px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sad-smile {
  width: 150px;
  height: 150px;
  background: url("./img/sad-smile.svg");
  background-size: 100%;

  @media screen and (max-width: 600px) {
    width: 85pt;
    height: 85pt;
  }
}

.text {
  margin: 0;
  margin-top: 41px;
  color: #a2a0a0;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;

  @media screen and (max-width: 600px) {
    font-size: 24pt;
    margin-top: 30pt;
  }
}

.button {
  background: transparent;
  width: 250px;
  height: 60px;
  border-radius: 36px;
  border: solid 3px var(--baby-purple);
  color: var(--baby-purple);
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 140px;

  &:hover {
    color: var(--white-two);
    background: var(--baby-purple);
    border: solid 3px var(--baby-purple);
  }

  @media screen and (max-width: 600px) {
    border-radius: 36pt;
    width: 250pt;
    height: 60pt;
    margin-top: 145px;
    @media screen and (max-width: 400px) {
      width: calc(100vw - 30pt);
    }
  }
}
