@mixin box {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 188px;
}

.box {
  @include box;
  cursor: pointer;
  width: 100%;
  justify-content: center;
  @media screen and (max-width: 600px) {
    height: 188pt;
    border-bottom: 2pt solid rgb(215, 215, 215);
  }
}

.container {
  @include box;
  pointer-events: none;
}

.img {
  background: url("./img/jog.svg") no-repeat;
  background-size: 100%;
  width: 87px;
  height: 87px;
  pointer-events: none;
  @media screen and (max-width: 600px) {
    width: 87pt;
    height: 87pt;
  }
}

.info-box {
  pointer-events: none;
  p,
  span {
    &:nth-child(1),
    &:nth-child(2) {
      margin: 9px 0;
    }
    margin: 12px 0;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  span {
    font-weight: 600;
  }

  width: 120px;
  margin-left: 46px;
  @media screen and (max-width: 600px) {
    margin-left: 46pt;
  }
}
