.add {
  position: fixed;
  z-index: 1;
  background: url("./img/add.svg");
  background-size: 100%;
  width: 60px;
  height: 60px;
  right: 40px;
  bottom: 40px;
  cursor: pointer;

  @media screen and (max-width: 600px) {
    width: 47pt;
    height: 47pt;
    right: 30pt;
    bottom: 30pt;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.jogs-box {
  a {
    color: black;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}
