.full-body {
  width: 100vw;
  height: calc(100vh - 116px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 503px;
  height: 379px;
  border-radius: 44px;
  background-color: var(--baby-purple);
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 600px) {
    background-color: var(--white-two);
  }
}

.bear-img {
  margin-top: 77px;
  width: 160px;
  height: 150px;
  background: url("./img/bear.svg");

  @media screen and (max-width: 600px) {
    margin-top: 30pt;
    background: url("./img/pink-bear.png");
  }
}

.button {
  background: transparent;
  width: 151px;
  height: 60px;
  margin: 56px 5px 0 4px;
  border-radius: 36px;
  border: solid 3px var(--white-two);
  color: var(--white-two);
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: var(--white-two);
    border: solid 3px var(--baby-purple);
    color: var(--baby-purple);
  }

  @media screen and (max-width: 600px) {
    border: solid 3px var(--baby-purple);
    color: var(--baby-purple);
    border-radius: 36pt;
    margin: 80pt 5pt 0 4pt;

    &:hover {
      background: var(--baby-purple);
      border: solid 3px var(--white-two);
      color: var(--white-two);
    }
  }
}
